{% extends 'base.html' %}

{% block title %} Search {% endblock %}
{% block content %}
    <h2>Welcome to search page</h2>
    sasasa<br>
    sasa<br>
    sasavgfdsgfds<br>
    gfd<br>
    gfd<br>
    g<br>
    fdg<br>
    fd<br>
    g<br>
    fdg<br>
    fd<br>
<br>
<br>
<br>
    fdsgfdsgfdsg<br>
    dsg<br>
    fd<br>
    g<br>
    fdg<br>
    fd<br>
    g<br>
    fdsg<br>
    fds<br>
<br>
<br>
<br>
    gfds<br>
    g<br>
    fdsg<br>
    fd<br>
    g<br>
    fdg<br>
    df<br>
    g<br>
<br>
<br>
    gfd<br>
    g<br>
    fdg<br>
    fd<br>
    gfd<br>
    g<br>
    fd<br>
<br>
<br>
    g<br>
    fdg<br>
    fd<br>
    g<br>
    fdg<br>
    dg<br>
    d<br>
    gd<br>
{% endblock %}